<%- include('./partials/header') %>
<nav class="nav-bar">
    <a href="/logout">LOG OUT</a>
</nav>
<h1>Chats</h1>
<a href="chats/messages">Specific Chat</a>
<script src="javascripts/chats-screen.js" type="text/javascript"></script>
<%- include('./partials/footer') %>