<%- include('./partials/header') %>
  <link rel='stylesheet' href='/stylesheets/index.css' class="page-style" />
  <div class="title"><p>Some Messenger</p></div>
  <div class="login-btn">
    <!-- <p>SIGN IN TO GOOGLE</p> -->
    <a href="/auth/google"><p>SIGN IN TO GOOGLE</p></a>
  </div>
  <script src="javascripts/index.js" type="text/javascript"></script>
<%- include('./partials/footer') %>