<%- include('./partials/header') %>
<nav class="nav-bar">
    <a href="/logout">LOG OUT</a>
</nav>
<h1>Inside of Chat</h1>
<a href="/chats"> Back to chats</a>
<script src="/javascripts/messages-screen.js" type="text/javascript"></script>
<%- include('./partials/footer') %>
