body {
  margin: 0;
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: royalblue;
}

a {
  color: #00B7FF;
}

.login-btn {

}

.google-logo {
  height: 30px;
  aspect-ratio: 1/1;
}