@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");
:root {
    --Background0: #080808;
    --BackgroundAccent0: #3b444b;
    --AccentA0: #f0ece1;
    --AccentB0: #dd4e1e;
    --AccentC0: #e5703d;
}
body {
  margin: 0;
  height: 100vh;
  height: 100vw;
  background-color: var(--AccentC0);
  font-family: 'Viga', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 8vmin;
  background-color: #3b444b;
  color: var(--AccentB0);
  font-size: 6vmin;
  border-bottom: 1vmin solid var(--Background0);
}
a {
  color: var(--AccentA0);
  width: 100%;
  text-align: center;
  font-size: 4vmin;
}
a:link, a:visited, a:active {
  text-decoration: none;
}

.holder {
  width: 80%;
  margin-top: 4vmin;
}
.messages-holder {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-y: auto;
  border-style: solid;
  border-color: var(--Background0);
  background-color: var(--BackgroundAccent0);
}

.selected {
    color: var(--AccentC0);
}
h1 {
  margin: 0;
  font-size: 7vmin;
  color: var(--Background0);
}
h2 {
  margin: 0;
}
h3 {
    margin: 0;
    margin-top: 3vmin;
    font-size: 5vmin;
    color: var(--BackgroundAccent0);
}

input {
    padding: 0;
    width: 60%;
    height: 6vmin;
    font-size: 3.5vmin;
    border-style: none;
    border-radius: 1vmin;
    margin-top: 1vmin;
}
input:focus {
    outline: invert;
    outline-color: var(--Background0);
}
.btn {
    margin-top: 8vmin;
    height: 15vmin;
    background-color: var(--BackgroundAccent0);
    border-style: solid;
    border-color: var(--AccentB0);
    border-radius: 3vmin;
    border-width: 0.75vmin;
  
    color: var(--AccentA0);
    font-size: 4.5vmin;
}

.members-div {
  background-color: rebeccapurple;
  height: 30vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  overflow-y: auto;
}

.member {
  border-style: solid;
}

.add-member-form {
  width: 60%;
}
.user-id {
  width: 69%;
}

.add-member-btn {
  width: 30%;
}
