body {
    margin: 0;
    height: 100%;
    width: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: rgb(195, 207, 116);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .google-logo {
    height: 30px;
    aspect-ratio: 1/1;
  }

  .user-message {
    color: blue;
  }
  
  .other-message {
    color: maroon;
  }